.materials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 240px;
  h2 {
    text-transform: capitalize;
    max-width: 400px;
  }
  &Content {
    padding-left: 80px;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &Subtitle {
    letter-spacing: 0.175em;
    font-weight: 700;
    text-transform: uppercase;
    color: #e58411;
  }
  &Text {
    max-width: 70%;
    font-size: 1.125em;
    line-height: 185%;
    opacity: 0.8;
  }
  &Picture {
    display: grid;
    gap: 45px;
    grid-template-columns: 1fr 3fr;
    &Left {
      display: flex;
      flex-direction: column;
      gap: 25px;
      img {
        border-radius: 20px;
      }
      :nth-child(2) {
        box-shadow: 0px 45px 30px -30px rgba(214, 199, 188, 0.8);
      }
    }
    &Right {
      align-self: flex-end;
      position: relative;
      img {
        width: 100%;
        max-height: 440px;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
        object-position: bottom;
        box-shadow: 0px 50px 30px -30px rgba(214, 199, 188, 0.8);
      }
      &::before {
        content: "";
        background-color: #f7f7f7;
        border-radius: 20px 0px 0px 0px;
        width: 60%;
        height: 66px;
        position: absolute;
        top: -66px;
        right: 0;
      }
    }
  }
}

@media (max-width: 1440px) {
  .materials {
    &Text {
      max-width: 100%;
    }
    &Content {
      padding: 50px 40px;
    }
  }
}

@media (max-width: 920px) {
  .materials {
    padding-top: 80px;
    grid-template-columns: 1fr;
    &Text {
      max-width: 100%;
    }
    &Picture {
      order: 1;
      padding: 0 40px;
      direction: rtl;
      &Right {
        img {
          border-radius: 20px;
        }
        &::before {
          display: none;
        }
      }
    }
    &Content {
      order: 2;
      padding: 50px 40px 0 40px;
    }
  }
}

@media (max-width: 600px) {
  .materials {
    padding-top: 50px;
    &Picture {
      gap: 15px;
      padding: 0 15px;
    }
    &Content {
      padding: 40px 15px 0 15px;
    }
  }
}
